---
import { getCollection } from 'astro:content';
import MyCard from '../components/MyCard.astro';
import Layout from '../layouts/Layout.astro';
import Job from '../components/Job.astro';

const jobs = (await getCollection('jobs')).sort((a, b) => new Date(b.data.from).valueOf() - new Date(a.data.from).valueOf());

const studies = [
  {institute: "UNIVAQ", title: "Bachelor's Degree", field: "Computer Science", grade: "99/110", when: "2022-10", thesis: "https://tesionline.univaq.it/handle/20.500.12319/8642"},
  {institute: "I.I.S. A. Volta", title: "Graduate", field: "Computer Science and Telecommunication", grade: "92/100", when: "2016-07", thesis: null},
];

---

<Layout>
  <div id="content" class="flex flex-col justify-center items-center lg:flex-row lg:items-start grow w-full pt-1">
    <aside class="top-3 left-2.5 lg:sticky">
      <MyCard />
    </aside>
    <div class="divider divider-horizontal divide-gray-500"></div>
    <div class="p-5 pt-1 w-full">
      <div class="text-4xl m-2">Jobs</div>
      {
        jobs.map((job) => (
          <details class="collapse collapse-arrow bg-base-100 border border-base-300">
            <summary class="collapse-title font-semibold flex align-middle">
              <div class="grow-0">{job.data.company}</div>
              <span class="grow text-rotate text-xs lg:text-md ml-4 mt-1">
                <span>
                {
                  [
                    ...job.data.languages, ...job.data.platforms, ...job.data.dbms,
                    ...job.data.frameworks_and_libraries, ...job.data.other_technologies
                  ].map((tech) => (
                    <span class="tech">{tech}</span>
                  ))
                }
                </span>
              </span>
              {
                job.data.to == "Current!" ?
                <div class="text-sm lg:text mr-4 text-success">From: {job.data.from}</div>
                <div class="text-sm lg:text ml-4 text-success">To: {job.data.to}</div>
                :
                <div class="text-sm lg:text mr-4 text-warning">From: {job.data.from}</div>
                <div class="text-sm lg:text ml-4 text-warning">To: {job.data.to}</div>
              }
            </summary>
            <div class="collapse-content text-sm">
              <div class="text-xl m-1">Technologies used</div>
              {
                [
                  ...job.data.languages, ...job.data.platforms, ...job.data.dbms,
                  ...job.data.frameworks_and_libraries, ...job.data.other_technologies
                ].map((tech) => (
                  <div class="badge badge-outline m-0.5">{tech}</div>
                ))
              }
              <br><br>
              <Job data={job} />
            </div>
          </details>
        ))
      }
      <div class="divider"></div>
      <div class="text-4xl m-2">Studies</div>
      <ul class="list bg-base-100 rounded-box shadow-md">
        {
          studies.map((study) => (
            <li class="list-row">
              <div>
                <div>{study.institute}</div>
                <div class="text-xs uppercase font-semibold opacity-60">{study.title}</div>
                <div class="text-xs uppercase opacity-60">{study.when}</div>
              </div>
              
              <div class="text-xs lg:text-xl mt-2">{study.field}</div>
              {
                study.thesis &&
                <a role="button" class="btn btn-outline btn-xs lg:btn-md lg:mr-8" target="_blank" rel="noopener noreferrer" href={study.thesis}>Thesis here!</a>
              }
              <div>
                <div class="text-xs uppercase opacity-60">Final score</div>
                <div class="text-md lg:text-xl mt-1 mr-10">{study.grade}</div>
              </div>
            </li>
          ))
        }
      </ul>
      <div class="spacer min-h-16">{/* Spacer to avoid overlapping content and FAB */}</div>
    </div>
  </div>
</Layout>

<style>
  @keyframes show {
    from { transform: scaleY(0%); opacity: 0; visibility: hidden; }
    to   { transform: scaleY(100%); opacity: 1; visibility: visible; }
  }
  @keyframes hide {
    from { transform: scaleY(100%); opacity: 1; visibility: visible; }
    to   { transform: scaleY(0%); opacity: 0; visibility: hidden; }
  }

  details span.text-rotate {
    animation: 200ms forwards show;
  }

  details:open span.text-rotate {
    animation: 200ms forwards hide;
  }

  span.tech {
    background-color: oklch(from var(--color-base-content) l c h / 20%); /*var(--color-base-content);*/
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
  }
</style>